<div class="text-center">
	<h1>Add a Celebrity</h1>
	<hr/>
</div>

<%= bootstrap_form_for @celebrity do |f| %>
  <%= f.text_field :name, label: "Celebrity", inline: true %>
  <%= f.radio_button :gender, 'female', label: "Female Celebrity", checked: true, inline: true %>
  <%= f.radio_button :gender, 'male', label: "Male Celebrity", inline: true %>
  <%= f.submit "Add Celebrity", class: 'btn btn-large btn-primary', inline: true %>
<% end %>