<div class="page-header">
  <h1>Edit Your Profile <small></small></h1>
</div>

<%= bootstrap_form_for @user do |f| %>
  <%= f.email_field :email %>
  <%= f.text_field :username %>
  <%= f.password_field :password %>
  <%= f.submit "Update Profile", class: 'btn btn-large btn-primary' %>
<% end %>