<div class="text-center">
	<h1>Register as a Couturier</h1>
	<hr/>
</div>


<%= bootstrap_form_for @user do |f| %>
	  <%= f.email_field :email %>
	  <%= f.text_field :username %>
	  <%= f.password_field :password %>
	  <%= f.submit "Register as a Couturier", class: 'btn btn-large btn-primary' %>
<% end %>