<% hang = @user.hangs.first %>
<% p = Post.find(@hang.post_id) %>
<p><%= p.title %> Hello world</p>

<div class="jumbotron">
  <h1>Welcome to your closet!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

<div id="pins" class="transitions-enabled">

  <% @user.hangs.first do |post| %>
    <div class="box panel panel-default text-center">
      <%= link_to image_tag(post.image.url(:medium)), pin_post_path(@pin, post) %>
      <div class="panel-body">
        <%= post.user.username %>
        <strong><%= link_to post.host, post.link %></strong>
        <% if current_user && post.user == current_user %>
          <div class="actions">
            <%= link_to edit_pin_post_path(@pin, post) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

