<section class="block">	
	<div id="carousel-example" class="carousel slide" data-ride="carousel">
	    <ol class="carousel-indicators">
	        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
	        <li data-target="#carousel-example" data-slide-to="1"></li>
	        <li data-target="#carousel-example" data-slide-to="2"></li>
	        <li data-target="#carousel-example" data-slide-to="3"></li>
	    </ol>

	    <div class="carousel-inner">
	        <div class="item active">
	            <%= image_tag("embrace-jumbotron.png", alt: "Embrace Couture") %>
	            <% if !logged_in? %>
	            <div class="carousel-caption text-center">
	        			<p>
		      				<%= link_to "Log in", login_path, class: "btn btn-default btn-lg"  %>
		      				<%= link_to "Sign up", new_user_path, class: "btn btn-info btn-lg" %>
		    				</p>
	      			</div>
	      			<% end %>
	        </div>
	        <div class="item">
	            <%= image_tag("find-your-favorite-celeb.png", alt: "Find Your Favorite Celebrities") %>
	        </div>
	        <div class="item">
	            <%= image_tag("hang-buy.png", alt: "Hang your clothes in the virtual closet and then Purchase them!") %>
	        </div>
	        <div class="item">
	            <%= image_tag("contribute.png", alt: "Contribute to the PinCouture community!") %>
	        </div>
	    </div>

	    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
	        <span class="glyphicon glyphicon-chevron-left"></span>
	    </a>
	    <a class="right carousel-control" href="#carousel-example" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right"></span>
	    </a>
	</div>
</section>