<%= bootstrap_form_for  @post, url: {action: "update"}, html: { multipart: true } do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :description %>
  <div class="form-group">
    <p>URL:</p>
    <%= text_field_tag :image_url %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>